@model BookStore.ViewModels.CreateStaffPicViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<section id="hero" class="d-flex align-items-center justify-content-center breadcrumbSec">
    <div class="container position-relative">
        <h1>Add Staff Pic </h1>
    </div>
</section>

<div class="container">
    <div class="row">
        <form id="frm" class="form-horizontal mt-3" action="/Admin/Selection/AddUpdate" method="POST">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.Title)
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control mt-2" })
            </div>
            <div class="form-group mt-3 col-md-6" >
                @Html.LabelFor(model => model.Order)
                @Html.TextBoxFor(model => model.Order, new { @class = "form-control mt-2", type = "number", min = "1", step = "1" })
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>
</div>