@model List<BookStore.ViewModels.StaffPicViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section id="hero" class="d-flex align-items-center justify-content-center breadcrumbSec">
    <div class="container position-relative">
        <h1>Staff Pics </h1>
    </div>
</section>
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8"> <a class="btn btn-primary" href="/Admin/Selection/AddUpdate"><span class="fa fa-plus"></span> Add New List</a></div>
        <div class="col-md-4"><input type="text" class="form-control" placeholder="Search..." /></div>

        <div class="col-md-12">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th scope="col">Title</th>
                        <th scope="col">Number of books</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var staffpic in Model)
                    {
                        <tr class="align-middle">
                            <td>@staffpic.Title</td>
                            <td>@staffpic.StaffPicBooks.Count</td>
                            <td>
                                <a href="/Admin/Selection/AddUpdate/@staffpic.Id" title="edit"><span class="fa fa-pencil-square"></span></a>
                                <a href="#" title="add a book to list"><span class="fa fa-plus-square"></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>