@model List<BookStore.ViewModels.BookViewModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<section id="hero" class="d-flex align-items-center justify-content-center breadcrumbSec">
    <div class="container position-relative">
        <h1>Book List</h1>        
    </div>
</section>
<div>
    test
</div>

